$accent: #e65f0d; // Accent Color
$yellow: #ffc116;
$blue: #524394;
$violet: #6d13e2;
$fontsize: 0.85vw; // Body Font Size
$textcolor: #fff; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$proxima: ProximaNova, sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss"; // Bootstrap Breakpoints mixin
@import "app/css/fullpage.min";
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format("woff2");
	}
}

@include font("ProximaNova", normal, 400, "../fonts/ProximaNova-Regular.ttf");
@include font("ProximaNova", bold, 700, "../fonts/ProximaNova-Bold.ttf");
@include font("ProximaNovaExCn", normal, 600, "../fonts/ProximaNovaExCn-Semibold.ttf");
@include font("ProximaNovaExCn", normal, bold, "../fonts/ProximaNovaExCn-Bold.ttf");
// Converter recommended: https://www.fontsquirrel.com/tools/webfont-generator
// Здесь если что переведешь в woff2

// GENERAL DOCUMENT STYLES

//::placeholder {
//	color: #666;
//}

//::selection {
//	background-color: $accent;
//	color: #fff;
//}

input,
textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

html {
	font-size: $fontsize;
}

body {
	font-family: $proxima;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	overflow-x: hidden;
	color: $textcolor;
}

.wrapper {
	height: 100%;
}
.wrapper-in {
	position: relative;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.content {
	overflow: hidden;
	flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

h1 {
	font-weight: 600;
	font-size: 3.75rem;
	line-height: 3.75rem;
	font-family: "ProximaNovaExCn", sans-serif;
}
h2 {
	font-weight: bold;
	font-family: "ProximaNovaExCn", sans-serif;
	font-size: 2.25rem;
}

p {
	margin-bottom: 0;
}

a {
	transition: 0.3s ease;
	&:hover {
		text-decoration: none;
	}
}

ul {
	margin-bottom: 0;
	padding-left: 0;
}

input,
textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}
