.section-two {
	background-color: #000;
	background-image: url("../images/dest/section2-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
	&-wrap {
		height: 100%;
		padding-top: 7.5rem;
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}
	&__headline {
		h1 {
			font-weight: bold;
		}
	}
	&__footer {
		display: flex;
		align-items: center;
		&-title {
			h2 {
				margin-bottom: 0.4rem;
			}
		}
		&-btn {
			margin-left: 1rem;
			.btn-big {
				padding: 1rem 3.5rem 1rem;
			}
		}
	}
	&__items {
		margin: 2.5rem 0;
		padding-left: 8rem;
		&-wrap {
			display: flex;
		}
	}
}

.video-card {
	max-width: 46.875rem;
	max-height: 25.8125rem;
	height: 100%;
	background-color: #c8c7c7;
	&:first-child {
		margin-right: 6.25rem;
	}
	&-wrap {
		display: flex;
	}
	&__left {
		width: 100%;
		padding: 3rem 1.25rem 1.875rem 2.5rem;
		h4 {
			font-size: 1.25rem;
			color: #000;
			font-weight: bold;
			position: relative;
			padding-bottom: 0.875rem;
			margin-bottom: 1.75rem;
			&::before {
				content: "";
				position: absolute;
				height: 0.1875rem;
				width: 3.3125rem;
				background-color: $orange;
				bottom: 0;
			}
		}
		p {
			color: #000;
			&:not(:last-child) {
				margin-bottom: 2.5rem;
			}
		}
	}
	&__right {
		position: relative;
		width: 100%;
		&-youtube {
			position: absolute;
			left: 50%;
			top: 50%;
		}
	}
	&__gradient {
		position: absolute;
		top: 0.6875rem;
		bottom: 0.6875rem;
		right: 0.6875rem;
		user-select: none;
		pointer-events: none;
		width: 22.6875rem;
		height: 24.375rem;
	}
	&__girl1 {
		position: absolute;
		z-index: 2;
		bottom: 0.75rem;
		right: -3rem;
		width: 23.4375rem;
		height: 28.5625rem;
		user-select: none;
		pointer-events: none;
	}
	&__girl2 {
		position: absolute;
		z-index: 2;
		bottom: 0.75rem;
		right: -3rem;
		width: 27.1875rem;
		height: 27.5rem;
		user-select: none;
		pointer-events: none;
	}
}
