.section-one {
	background-image: url("../images/dest/section1-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.triangle-wrapper {
	max-width: 55rem;
	position: absolute;
	bottom: 0;
	right: 0;
}

.hands-and-sdo {
	width: 55rem;
}

.triangle {
	position: absolute;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	img {
		width: 3rem;
	}
	&:nth-child(2) {
		animation-name: triangle1;
		img {
			width: 2rem;
		}
	}
	&:nth-child(3) {
		animation-name: triangle2;
		img {
			width: 3.7rem;
		}
	}
	&:nth-child(4) {
		animation-name: triangle3;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(5) {
		animation-name: triangle4;
		img {
			width: 2.7rem;
		}
	}
	&:nth-child(6) {
		animation-name: triangle5;
		img {
			width: 3.5rem;
		}
	}
	&:nth-child(7) {
		animation-name: triangle6;
		img {
			width: 2.3rem;
		}
	}
	&:nth-child(8) {
		animation-name: triangle7;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(9) {
		animation-name: triangle8;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(10) {
		animation-name: triangle9;
		img {
			width: 3rem;
		}
	}
	&:nth-child(11) {
		animation-name: triangle10;
		img {
			width: 3.1rem;
		}
	}
	&:nth-child(12) {
		animation-name: triangle11;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(13) {
		animation-name: triangle12;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(14) {
		animation-name: triangle13;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(15) {
		animation-name: triangle14;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(16) {
		animation-name: triangle15;
		img {
			width: 4.1rem;
		}
	}
	&:nth-child(17) {
		animation-name: triangle16;
		img {
			width: 2.4rem;
		}
	}
	@keyframes triangle1 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		100% {
			right: 38.5rem;
			top: 4rem;
			transform: rotate(75deg);
		}
	}
	@keyframes triangle2 {
		0% {
			top: 5rem;
			right: 10rem;
			transform: rotate(0);
		}
		100% {
			right: 38.8rem;
			top: 3rem;
			transform: rotate(135deg);
		}
	}
	@keyframes triangle3 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		100% {
			bottom: 29.15rem;
			right: 30.8rem;
			transform: rotate(335deg);
		}
	}
	@keyframes triangle4 {
		0% {
			bottom: 0;
			left: 0;
			transform: rotate(0);
		}
		100% {
			bottom: 29rem;
			left: 12rem;
			transform: rotate(75deg);
		}
	}
	@keyframes triangle5 {
		0% {
			top: 0;
			left: 30rem;
			transform: rotate(0);
		}
		100% {
			top: 1.1rem;
			left: 22rem;
			transform: rotate(45deg);
		}
	}
	@keyframes triangle6 {
		0% {
			bottom: 0;
			left: 35rem;
			transform: rotate(0);
		}
		100% {
			left: 11rem;
			bottom: 29.2rem;
			transform: rotate(130deg);
		}
	}
	@keyframes triangle7 {
		0% {
			top: 0;
			right: 20rem;
			transform: rotate(0);
		}
		100% {
			top: 1.2rem;
			right: 42.5rem;
			transform: rotate(60deg);
		}
	}
	@keyframes triangle8 {
		0% {
			bottom: 0;
			right: 30rem;
			transform: rotate(0);
		}
		100% {
			right: 39.9rem;
			bottom: 19.5rem;
			transform: rotate(1deg);
		}
	}
	@keyframes triangle9 {
		0% {
			top: 38rem;
			right: 0;
			transform: rotate(0);
		}
		100% {
			top: 1.8em;
			right: 44rem;
			transform: rotate(75deg);
		}
	}
	@keyframes triangle10 {
		0% {
			bottom: 0;
			right: 20rem;
			transform: rotate(0);
		}
		100% {
			right: 45rem;
			bottom: 29rem;
			transform: rotate(135deg);
		}
	}
	@keyframes triangle11 {
		0% {
			top: 58rem;
			right: 0;
			transform: rotate(0);
		}
		100% {
			right: 46rem;
			top: 2.2rem;
			transform: rotate(110deg);
		}
	}
	@keyframes triangle12 {
		0% {
			top: 28rem;
			left: 0;
			transform: rotate(0);
		}
		100% {
			left: 4.6rem;
			top: 3rem;
			transform: rotate(75deg);
		}
	}
	@keyframes triangle13 {
		0% {
			bottom: 39rem;
			left: 0;
			transform: rotate(0);
		}
		100% {
			bottom: 29rem;
			left: 23.3rem;
			transform: rotate(120deg);
		}
	}
	@keyframes triangle14 {
		0% {
			top: 0;
			right: 21rem;
			transform: rotate(0);
		}
		100% {
			top: 12.8rem;
			right: 38.5rem;
			transform: rotate(75deg);
		}
	}
	@keyframes triangle15 {
		0% {
			bottom: 0;
			right: 6rem;
			transform: rotate(0);
		}
		100% {
			bottom: 27.2rem;
			right: 28.5rem;
			transform: rotate(290deg);
		}
	}
	@keyframes triangle16 {
		0% {
			top: 20rem;
			left: 0;
			transform: rotate(0);
		}
		100% {
			left: 12.5rem;
			top: 13rem;
			transform: rotate(15deg);
		}
	}
}
