.section-one {
	background-image: url("../images/dest/section1-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.content-wrapper {
	padding-left: 3.125rem;
	max-width: 47.5rem;
	position: relative;
	.auditorium-logo {
		width: 24rem;
	}	
	h1 {
		margin-left: 1.875rem;
	}
	ul {
		margin-left: 3rem;
		margin-top: 2rem;
		li {
			margin-bottom: 1rem;
			padding-left: 1rem;
		}
	}
	.btn-big {
		margin-left: 1.975rem;
		margin-top: 3rem;
	}
}

.triangle-wrapper {
	max-width: 55rem;
	height: 34.1rem;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.btn-on-off {
	width: 5.625rem;
	height: 2rem;
	border-radius: 1.875rem;
	border: 0.0625rem solid #d89744;
	position: absolute;
	bottom: 2.2rem;
	z-index: 9;
	right: -0.5rem;
	background: #040300;
	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 0.125rem solid #dc7232;
		background: none;
		border-radius: 1.875rem;
	}
	&__circle {
		display: block;
		width: 1.5625rem;
		height: 1.5625rem;
		border-radius: 50%;
		position: absolute;
		top: 0.15rem;
		left: 0.15rem;
		background: linear-gradient(180deg, rgba(222,121,56,1) 0%, rgba(222,121,56,1) 26%, rgba(238,190,89,1) 100%);
		border: 0.125rem solid #fff;
		transition: 0.5s;
		-webkit-box-shadow: 14px 14px 21px -5px rgba(231,155,70,1);
		-moz-box-shadow: 14px 14px 21px -5px rgba(231,155,70,1);
		box-shadow: 14px 14px 21px -5px rgba(231,155,70,1);
		z-index: 2;
	}
	&__text {
		color: #fff;
		font-size: 1.125rem;
		text-transform: uppercase;
		font-family: $proxima;
		position: absolute;
		top: 0.33rem;
		right: 1.125rem;
		transition: 0.5s;
	}
	&.on {
		border: 0.0625rem solid #524394;		
		&::after {
			content: '';
			border: 0.125rem solid #524394;
		}
		.btn-on-off__circle {
			transition: 0.5s;
			border: 0.125rem solid #524394;
			left: 3.8rem;
		}
		.btn-on-off__text {
			transition: 0.5s;
			right: 2rem;
		}
	}
	&:focus {
		outline: none;
	}
}
  
.sdo,
.sdo-active {
	width: 48rem;
}
.sdo {
	position: absolute;
	transform: translate(-0.3rem, -0.5rem);
	opacity: 0.4;
	z-index: 1;
}
.sdo-active {
	z-index: 2;
	position: relative;
	opacity: 0;
	animation-delay: 2.4s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: sdo-active;
}
.hands-after {
	position: absolute;
	right: -1rem;
    top: 3.7rem;
    width: 37rem;
}
.hands-before {
	position: absolute;
    right: -3rem;
    top: 7.2rem;
    width: 37rem;
    z-index: 3;
}
@keyframes sdo-active {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.triangle {
	position: absolute;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	user-select: none;
	z-index: 3;
	img {
		width: 3rem;
		user-select: none;
	}
	&:nth-child(5) {
		animation-name: triangle1;
		img {
			width: 2rem;
		}
	}
	&:nth-child(6) {
		animation-name: triangle2;
		img {
			width: 3.7rem;
		}
	}
	&:nth-child(7) {
		animation-name: triangle3;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(8) {
		animation-name: triangle4;
		img {
			width: 2.7rem;
		}
	}
	&:nth-child(9) {
		animation-name: triangle5;
		img {
			width: 3.5rem;
		}
	}
	&:nth-child(10) {
		animation-name: triangle6;
		img {
			width: 2.3rem;
		}
	}
	&:nth-child(11) {
		animation-name: triangle7;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(12) {
		animation-name: triangle8;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(13) {
		animation-name: triangle9;
		img {
			width: 3rem;
		}
	}
	&:nth-child(14) {
		animation-name: triangle10;
		img {
			width: 3.1rem;
		}
	}
	&:nth-child(15) {
		animation-name: triangle11;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(16) {
		animation-name: triangle12;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(17) {
		animation-name: triangle13;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(18) {
		animation-name: triangle14;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(19) {
		animation-name: triangle15;
		img {
			width: 4.1rem;
		}
	}
	&:nth-child(20) {
		animation-name: triangle16;
		img {
			width: 2.4rem;
		}
	}
	&:nth-child(21) {
		animation-name: triangle17;
		img {
			width: 2rem;
		}
	}
	&:nth-child(22) {
		animation-name: triangle18;
		img {
			width: 3.7rem;
		}
	}
	&:nth-child(23) {
		animation-name: triangle19;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(24) {
		animation-name: triangle20;
		img {
			width: 2.7rem;
		}
	}
	&:nth-child(25) {
		animation-name: triangle21;
		img {
			width: 3.5rem;
		}
	}
	&:nth-child(26) {
		animation-name: triangle22;
		img {
			width: 2.3rem;
		}
	}
	&:nth-child(27) {
		animation-name: triangle23;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(28) {
		animation-name: triangle24;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(29) {
		animation-name: triangle25;
		img {
			width: 3rem;
		}
	}
	&:nth-child(30) {
		animation-name: triangle26;
		img {
			width: 3.1rem;
		}
	}
	&:nth-child(31) {
		animation-name: triangle27;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(32) {
		animation-name: triangle28;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(33) {
		animation-name: triangle29;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(34) {
		animation-name: triangle30;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(35) {
		animation-name: triangle31;
		img {
			width: 4.1rem;
		}
	}
	&:nth-child(36) {
		animation-name: triangle32;
		img {
			width: 2.4rem;
		}
	}
	&:nth-child(37) {
		animation-name: triangle33;
		img {
			width: 2rem;
		}
	}
	&:nth-child(38) {
		animation-name: triangle34;
		img {
			width: 3.7rem;
		}
	}
	&:nth-child(39) {
		animation-name: triangle35;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(40) {
		animation-name: triangle36;
		img {
			width: 2.7rem;
		}
	}
	&:nth-child(41) {
		animation-name: triangle37;
		img {
			width: 3.5rem;
		}
	}
	&:nth-child(42) {
		animation-name: triangle38;
		img {
			width: 2.3rem;
		}
	}
	&:nth-child(43) {
		animation-name: triangle39;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(44) {
		animation-name: triangle40;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(45) {
		animation-name: triangle41;
		img {
			width: 3rem;
		}
	}
	&:nth-child(46) {
		animation-name: triangle42;
		img {
			width: 3.1rem;
		}
	}
	&:nth-child(47) {
		animation-name: triangle43;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(48) {
		animation-name: triangle44;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(49) {
		animation-name: triangle45;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(50) {
		animation-name: triangle46;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(51) {
		animation-name: triangle47;
		img {
			width: 4.1rem;
		}
	}
	&:nth-child(52) {
		animation-name: triangle48;
		img {
			width: 2.4rem;
		}
	}
	&:nth-child(53) {
		animation-name: triangle49;
		img {
			width: 2rem;
		}
	}
	&:nth-child(54) {
		animation-name: triangle50;
		img {
			width: 2rem;
		}
	}
	&:nth-child(55) {
		animation-name: triangle51;
		img {
			width: 3.7rem;
		}
	}
	&:nth-child(56) {
		animation-name: triangle52;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(57) {
		animation-name: triangle53;
		img {
			width: 2.7rem;
		}
	}
	&:nth-child(58) {
		animation-name: triangle54;
		img {
			width: 3.5rem;
		}
	}
	&:nth-child(59) {
		animation-name: triangle55;
		img {
			width: 2.3rem;
		}
	}
	&:nth-child(60) {
		animation-name: triangle56;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(61) {
		animation-name: triangle57;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(62) {
		animation-name: triangle58;
		img {
			width: 3rem;
		}
	}
	&:nth-child(63) {
		animation-name: triangle59;
		img {
			width: 3.1rem;
		}
	}
	&:nth-child(64) {
		animation-name: triangle60;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(65) {
		animation-name: triangle61;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(66) {
		animation-name: triangle62;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(67) {
		animation-name: triangle63;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(68) {
		animation-name: triangle64;
		img {
			width: 4.1rem;
		}
	}
	&:nth-child(69) {
		animation-name: triangle65;
		img {
			width: 2rem;
		}
	}
	&:nth-child(70) {
		animation-name: triangle66;
		img {
			width: 3.7rem;
		}
	}
	&:nth-child(71) {
		animation-name: triangle67;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(72) {
		animation-name: triangle68;
		img {
			width: 2.7rem;
		}
	}
	&:nth-child(73) {
		animation-name: triangle69;
		img {
			width: 3.5rem;
		}
	}
	&:nth-child(74) {
		animation-name: triangle70;
		img {
			width: 2.3rem;
		}
	}
	&:nth-child(75) {
		animation-name: triangle71;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(76) {
		animation-name: triangle72;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(77) {
		animation-name: triangle73;
		img {
			width: 3rem;
		}
	}
	&:nth-child(78) {
		animation-name: triangle74;
		img {
			width: 3.1rem;
		}
	}
	&:nth-child(79) {
		animation-name: triangle75;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(80) {
		animation-name: triangle76;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(81) {
		animation-name: triangle77;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(82) {
		animation-name: triangle78;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(83) {
		animation-name: triangle79;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(84) {
		animation-name: triangle80;
		img {
			width: 4.1rem;
		}
	}
	&:nth-child(85) {
		animation-name: triangle81;
		img {
			width: 2.4rem;
		}
	}
	&:nth-child(86) {
		animation-name: triangle82;
		img {
			width: 2rem;
		}
	}
	&:nth-child(87) {
		animation-name: triangle83;
		img {
			width: 3.7rem;
		}
	}
	&:nth-child(88) {
		animation-name: triangle84;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(89) {
		animation-name: triangle85;
		img {
			width: 3rem;
		}
	}
	&:nth-child(90) {
		animation-name: triangle86;
		img {
			width: 3.1rem;
		}
	}
	&:nth-child(91) {
		animation-name: triangle87;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(92) {
		animation-name: triangle88;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(93) {
		animation-name: triangle89;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(94) {
		animation-name: triangle90;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(95) {
		animation-name: triangle91;
		img {
			width: 4.1rem;
		}
	}
	&:nth-child(96) {
		animation-name: triangle92;
		img {
			width: 2.4rem;
		}
	}
	&:nth-child(97) {
		animation-name: triangle93;
		img {
			width: 2rem;
		}
	}
	&:nth-child(98) {
		animation-name: triangle94;
		img {
			width: 3.7rem;
		}
	}
	&:nth-child(99) {
		animation-name: triangle95;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(100) {
		animation-name: triangle96;
		img {
			width: 2.7rem;
		}
	}
	&:nth-child(101) {
		animation-name: triangle97;
		img {
			width: 3.5rem;
		}
	}
	&:nth-child(102) {
		animation-name: triangle98;
		img {
			width: 2.3rem;
		}
	}
	&:nth-child(103) {
		animation-name: triangle99;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(105) {
		animation-name: triangle101;
		img {
			width: 3rem;
		}
	}
	&:nth-child(106) {
		animation-name: triangle102;
		img {
			width: 3.1rem;
		}
	}
	&:nth-child(107) {
		animation-name: triangle103;
		img {
			width: 3.6rem;
		}
	}
	&:nth-child(108) {
		animation-name: triangle104;
		img {
			width: 2.8rem;
		}
	}
	&:nth-child(109) {
		animation-name: triangle105;
		img {
			width: 3.2rem;
		}
	}
	&:nth-child(104),
	&:nth-child(110),
	&:nth-child(111),
	&:nth-child(112),
	&:nth-child(113),
	&:nth-child(114),
	&:nth-child(115),
	&:nth-child(116),
	&:nth-child(117),
	&:nth-child(118),
	&:nth-child(119),
	&:nth-child(120),
	&:nth-child(121),
	&:nth-child(122),
	&:nth-child(123),
	&:nth-child(124),
	&:nth-child(125),
	&:nth-child(126),
	&:nth-child(127),
	&:nth-child(128),
	&:nth-child(129),
	&:nth-child(130),
	&:nth-child(131),
	&:nth-child(132) {
		display: none;
	}
	@keyframes triangle1 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			right: 38.5rem;
			top: 4rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			right: 38.5rem;
			top: 4rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle2 {
		0% {
			top: 5rem;
			right: 10rem;
			transform: rotate(0);
		}
		80% {
			right: 38.8rem;
			top: 3rem;
			transform: rotate(135deg);
			opacity: 0.6;
		}
		100% {
			right: 38.8rem;
			top: 3rem;
			transform: rotate(135deg);
			opacity: 0;
		}
	}
	@keyframes triangle3 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 29.15rem;
			right: 30.8rem;
			transform: rotate(335deg);
			opacity: 0.6;
		}
		100% {
			bottom: 29.15rem;
			right: 30.8rem;
			transform: rotate(335deg);
			opacity: 0;
		}
	}
	@keyframes triangle4 {
		0% {
			bottom: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 29rem;
			left: 12rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			bottom: 29rem;
			left: 12rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle5 {
		0% {
			top: 0;
			left: 30rem;
			transform: rotate(0);
		}
		80% {
			top: 1.1rem;
			left: 22rem;
			transform: rotate(45deg);
			opacity: 0.6;
		}
		100% {
			top: 1.1rem;
			left: 22rem;
			transform: rotate(45deg);
			opacity: 0;
		}
	}
	@keyframes triangle6 {
		0% {
			bottom: 0;
			left: 35rem;
			transform: rotate(0);
		}
		80% {
			left: 11rem;
			bottom: 29.2rem;
			transform: rotate(130deg);
			opacity: 0.6;
		}
		100% {
			left: 11rem;
			bottom: 29.2rem;
			transform: rotate(130deg);
			opacity: 0;
		}
	}
	@keyframes triangle7 {
		0% {
			top: 0;
			right: 20rem;
			transform: rotate(0);
		}
		80% {
			top: 1.2rem;
			right: 42.5rem;
			transform: rotate(60deg);
			opacity: 0.6;
		}
		100% {
			top: 1.2rem;
			right: 42.5rem;
			transform: rotate(60deg);
			opacity: 0;
		}
	}
	@keyframes triangle8 {
		0% {
			bottom: 0;
			right: 30rem;
			transform: rotate(0);
		}
		80% {
			right: 39.9rem;
			bottom: 19.5rem;
			transform: rotate(1deg);
			opacity: 0.6;
		}
		100% {
			right: 39.9rem;
			bottom: 19.5rem;
			transform: rotate(1deg);
			opacity: 0;
		}
	}
	@keyframes triangle9 {
		0% {
			top: 38rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 1.8em;
			right: 44rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			top: 1.8em;
			right: 44rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle10 {
		0% {
			bottom: 0;
			right: 20rem;
			transform: rotate(0);
		}
		80% {
			right: 45rem;
			bottom: 29rem;
			transform: rotate(135deg);
			opacity: 0.6;
		}
		100% {
			right: 45rem;
			bottom: 29rem;
			transform: rotate(135deg);
			opacity: 0;
		}
	}
	@keyframes triangle11 {
		0% {
			top: 58rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			right: 46rem;
			top: 2.2rem;
			transform: rotate(110deg);
			opacity: 0.6;
		}
		100% {
			right: 46rem;
			top: 2.2rem;
			transform: rotate(110deg);
			opacity: 0;
		}
	}
	@keyframes triangle12 {
		0% {
			top: 28rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 4.6rem;
			top: 3rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			left: 4.6rem;
			top: 3rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle13 {
		0% {
			bottom: 39rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 29rem;
			left: 23.3rem;
			transform: rotate(120deg);
			opacity: 0.6;
		}
		100% {
			bottom: 29rem;
			left: 23.3rem;
			transform: rotate(120deg);
			opacity: 0;
		}
	}
	@keyframes triangle14 {
		0% {
			top: 0;
			right: 21rem;
			transform: rotate(0);
		}
		80% {
			top: 12.8rem;
			right: 38.5rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			top: 12.8rem;
			right: 38.5rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle15 {
		0% {
			bottom: 0;
			right: 6rem;
			transform: rotate(0);
		}
		80% {
			bottom: 27.2rem;
			right: 28.5rem;
			transform: rotate(290deg);
			opacity: 0.6;
		}
		100% {
			bottom: 27.2rem;
			right: 28.5rem;
			transform: rotate(290deg);
			opacity: 0;
		}
	}
	@keyframes triangle16 {
		0% {
			top: 20rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 12.5rem;
			top: 13rem;
			transform: rotate(15deg);
			opacity: 0.6;
		}
		100% {
			left: 12.5rem;
			top: 13rem;
			transform: rotate(15deg);
			opacity: 0;
		}
	}
	@keyframes triangle17 {
		0% {
			top: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 4rem;
			top: 4rem;
			transform: rotate(15deg);
			opacity: 0.6;
		}
		100% {
			left: 4rem;
			top: 4rem;
			transform: rotate(15deg);
			opacity: 0;
		}
	}
	@keyframes triangle18 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 26.4rem;
			right: 48rem;
			transform: rotate(55deg);
			opacity: 0.6;
		}
		100% {
			bottom: 26.4rem;
			right: 48rem;
			transform: rotate(55deg);
			opacity: 0;
		}
	}
	@keyframes triangle19 {
		0% {
			bottom: 31rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 25.6rem;
			right: 49rem;
			transform: rotate(85deg);
			opacity: 0.6;
		}
		100% {
			bottom: 25.6rem;
			right: 49rem;
			transform: rotate(85deg);
			opacity: 0;
		}
	}
	@keyframes triangle20 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 6.5rem;
			right: 49.7rem;
			transform: rotate(35deg);
			opacity: 0.6;
		}
		100% {
			top: 6.5rem;
			right: 49.7rem;
			transform: rotate(35deg);
			opacity: 0;
		}
	}
	@keyframes triangle21 {
		0% {
			top: 0;
			left: 30rem;
			transform: rotate(0);
		}
		80% {
			top: 7.4rem;
			left: 2.2rem;
			transform: rotate(115deg);
			opacity: 0.6;
		}
		100% {
			top: 7.4rem;
			left: 2.2rem;
			transform: rotate(115deg);
			opacity: 0;
		}
	}
	@keyframes triangle22 {
		0% {
			top: 0;
			left: 30rem;
			transform: rotate(0);
		}
		80% {
			top: 9rem;
			left: 2.8rem;
			transform: rotate(25deg);
			opacity: 0.6;
		}
		100% {
			top: 9rem;
			left: 2.8rem;
			transform: rotate(25deg);
			opacity: 0;
		}
	}
	@keyframes triangle23 {
		0% {
			bottom: 31rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 21rem;
			right: 49rem;
			transform: rotate(85deg);
			opacity: 0.6;
		}
		100% {
			bottom: 21rem;
			right: 49rem;
			transform: rotate(85deg);
			opacity: 0;
		}
	}
	@keyframes triangle24 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 11rem;
			right: 49rem;
			transform: rotate(65deg);
			opacity: 0.6;
		}
		100% {
			top: 11rem;
			right: 49rem;
			transform: rotate(65deg);
			opacity: 0;
		}
	}
	@keyframes triangle25 {
		0% {
			top: 11rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 12rem;
			right: 48.4rem;
			transform: rotate(165deg);
			opacity: 0.6;
		}
		100% {
			top: 12rem;
			right: 48.4rem;
			transform: rotate(165deg);
			opacity: 0;
		}
	}
	@keyframes triangle26 {
		0% {
			bottom: 4rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 18.4rem;
			left: 4rem;
			transform: rotate(15deg);
			opacity: 0.6;
		}
		100% {
			bottom: 18.4rem;
			left: 4rem;
			transform: rotate(15deg);
			opacity: 0;
		}
	}
	@keyframes triangle27 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 12.9rem;
			right: 46.3rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			top: 12.9rem;
			right: 46.3rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle28 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 13.7rem;
			right: 45.9rem;
			transform: rotate(35deg);
			opacity: 0.6;
		}
		100% {
			top: 13.7rem;
			right: 45.9rem;
			transform: rotate(35deg);
			opacity: 0;
		}
	}
	@keyframes triangle29 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 13.8rem;
			right: 44.6rem;
			transform: rotate(90deg);
			opacity: 0.6;
		}
		100% {
			top: 13.8rem;
			right: 44.6rem;
			transform: rotate(90deg);
			opacity: 0;
		}
	}
	@keyframes triangle30 {
		0% {
			top: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			top: 14.2rem;
			left: 8.3rem;
			transform: rotate(130deg);
			opacity: 0.6;
		}
		100% {
			top: 14.2rem;
			left: 8.3rem;
			transform: rotate(130deg);
			opacity: 0;
		}
	}
	@keyframes triangle31 {
		0% {
			top: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			top: 13.6rem;
			left: 9.2rem;
			transform: rotate(90deg);
			opacity: 0.6;
		}
		100% {
			top: 13.6rem;
			left: 9.2rem;
			transform: rotate(90deg);
			opacity: 0;
		}
	}
	@keyframes triangle32 {
		0% {
			top: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			top: 14rem;
			left: 11rem;
			transform: rotate(90deg);
			opacity: 0.6;
		}
		100% {
			top: 14rem;
			left: 11rem;
			transform: rotate(90deg);
			opacity: 0;
		}
	}
	@keyframes triangle33 {
		0% {
			top: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			top: 13.8rem;
			left: 12rem;
			transform: rotate(30deg);
			opacity: 0.6;
		}
		100% {
			top: 13.8rem;
			left: 12rem;
			transform: rotate(30deg);
			opacity: 0;
		}
	}
	@keyframes triangle34 {
		0% {
			top: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			top: 2.7rem;
			left: 21rem;
			transform: rotate(30deg);
			opacity: 0.6;
		}
		100% {
			top: 2.7rem;
			left: 21rem;
			transform: rotate(30deg);
			opacity: 0;
		}
	}
	@keyframes triangle35 {
		0% {
			bottom: 0;
			left: 15rem;
			transform: rotate(0);
		}
		80% {
			bottom: 26.6rem;
			left: 20.6rem;
			transform: rotate(80deg);
			opacity: 0.6;
		}
		100% {
			bottom: 26.6rem;
			left: 20.6rem;
			transform: rotate(80deg);
			opacity: 0;
		}
	}
	@keyframes triangle36 {
		0% {
			bottom: 0;
			right: 15rem;
			transform: rotate(0);
		}
		80% {
			bottom: 25.7rem;
			right: 31.5rem;
			transform: rotate(40deg);
			opacity: 0.6;
		}
		100% {
			bottom: 25.7rem;
			right: 31.5rem;
			transform: rotate(40deg);
			opacity: 0;
		}
	}
	@keyframes triangle37 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 6.2rem;
			right: 31.5rem;
			transform: rotate(180deg);
			opacity: 0.6;
		}
		100% {
			top: 6.2rem;
			right: 31.5rem;
			transform: rotate(180deg);
			opacity: 0;
		}
	}
	@keyframes triangle38 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 24.2rem;
			right: 32.5rem;
			transform: rotate(10deg);
			opacity: 0.6;
		}
		100% {
			bottom: 24.2rem;
			right: 32.5rem;
			transform: rotate(10deg);
			opacity: 0;
		}
	}
	@keyframes triangle39 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 22.6rem;
			right: 32.1rem;
			transform: rotate(53deg);
			opacity: 0.6;
		}
		100% {
			bottom: 22.6rem;
			right: 32.1rem;
			transform: rotate(53deg);
			opacity: 0;
		}
	}
	@keyframes triangle40 {
		0% {
			bottom: 14rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 21.9rem;
			right: 32.7rem;
			transform: rotate(153deg);
			opacity: 0.6;
		}
		100% {
			bottom: 21.9rem;
			right: 32.7rem;
			transform: rotate(153deg);
			opacity: 0;
		}
	}
	@keyframes triangle41 {
		0% {
			bottom: 0;
			right: 14rem;
			transform: rotate(0);
		}
		80% {
			bottom: 21rem;
			right: 33.2rem;
			transform: rotate(15deg);
			opacity: 0.6;
		}
		100% {
			bottom: 21rem;
			right: 33.2rem;
			transform: rotate(15deg);
			opacity: 0;
		}
	}
	@keyframes triangle42 {
		0% {
			bottom: 0;
			right: 14rem;
			transform: rotate(0);
		}
		80% {
			bottom: 20rem;
			right: 33.5rem;
			transform: rotate(65deg);
			opacity: 0.6;
		}
		100% {
			bottom: 20rem;
			right: 33.5rem;
			transform: rotate(65deg);
			opacity: 0;
		}
	}
	@keyframes triangle43 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 18.8rem;
			right: 33.7rem;
			transform: rotate(100deg);
			opacity: 0.6;
		}
		100% {
			bottom: 18.8rem;
			right: 33.7rem;
			transform: rotate(100deg);
			opacity: 0;
		}
	}
	@keyframes triangle44 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 18.2rem;
			right: 33.7rem;
			transform: rotate(40deg);
			opacity: 0.6;
		}
		100% {
			bottom: 18.2rem;
			right: 33.7rem;
			transform: rotate(40deg);
			opacity: 0;
		}
	}
	@keyframes triangle45 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 17.4rem;
			right: 34.4rem;
			transform: rotate(80deg);
			opacity: 0.6;
		}
		100% {
			bottom: 17.4rem;
			right: 34.4rem;
			transform: rotate(80deg);
			opacity: 0;
		}
	}
	@keyframes triangle46 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 17.4rem;
			right: 35.7rem;
			transform: rotate(20deg);
			opacity: 0.6;
		}
		100% {
			bottom: 17.4rem;
			right: 35.7rem;
			transform: rotate(20deg);
			opacity: 0;
		}
	}
	@keyframes triangle47 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 15.9rem;
			right: 35.3rem;
			transform: rotate(40deg);
			opacity: 0.6;
		}
		100% {
			bottom: 15.9rem;
			right: 35.3rem;
			transform: rotate(40deg);
			opacity: 0;
		}
	}
	@keyframes triangle48 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 15.5rem;
			right: 35.6rem;
			transform: rotate(80deg);
			opacity: 0.6;
		}
		100% {
			bottom: 15.5rem;
			right: 35.6rem;
			transform: rotate(80deg);
			opacity: 0;
		}
	}
	@keyframes triangle49 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 15.5rem;
			right: 36.7rem;
			transform: rotate(140deg);
			opacity: 0.6;
		}
		100% {
			bottom: 15.5rem;
			right: 36.7rem;
			transform: rotate(140deg);
			opacity: 0;
		}
	}
	@keyframes triangle50 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 17.5rem;
			right: 34rem;
			transform: rotate(140deg);
			opacity: 0.6;
		}
		100% {
			bottom: 17.5rem;
			right: 34rem;
			transform: rotate(140deg);
			opacity: 0;
		}
	}
	@keyframes triangle51 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
		80% {
			bottom: 16.8rem;
			right: 32rem;
			transform: rotate(100deg);
			opacity: 0.6;
		}
		100% {
			bottom: 16.8rem;
			right: 32rem;
			transform: rotate(100deg);
			opacity: 0;
		}
	}
	@keyframes triangle52 {
		0% {
			bottom: 0;
			right: 24rem;
			transform: rotate(0);
		}
	    80% {
			bottom: 26.8rem;
			right: 28rem;
			transform: rotate(140deg);
			opacity: 0.6;
		}
		100% {
			bottom: 26.8rem;
			right: 28rem;
			transform: rotate(140deg);
			opacity: 0;
		}
	}
	@keyframes triangle53 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 26.3rem;
			right: 28rem;
			transform: rotate(60deg);
			opacity: 0.6;
		}
		100% {
			bottom: 26.3rem;
			right: 28rem;
			transform: rotate(60deg);
			opacity: 0;
		}
	}
	@keyframes triangle54 {
		0% {
			bottom: 0;
			right: 20rem;
			transform: rotate(0);
		}
		80% {
			bottom: 24.8rem;
			right: 27.2rem;
			transform: rotate(130deg);
			opacity: 0.6;
		}
		100% {
			bottom: 24.8rem;
			right: 27.2rem;
			transform: rotate(130deg);
			opacity: 0;
		}
	}
	@keyframes triangle55 {
		0% {
			bottom: 14rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 24.8rem;
			right: 27.2rem;
			transform: rotate(70deg);
			opacity: 0.6;
		}
		100% {
			bottom: 24.8rem;
			right: 27.2rem;
			transform: rotate(70deg);
			opacity: 0;
		}
	}
	@keyframes triangle56 {
		0% {
			bottom: 20rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 23.6rem;
			right: 27rem;
			transform: rotate(70deg);
			opacity: 0.6;
		}
		100% {
			bottom: 23.6rem;
			right: 27rem;
			transform: rotate(70deg);
			opacity: 0;
		}
	}
	@keyframes triangle57 {
		0% {
			bottom: 0;
			right: 2rem;
			transform: rotate(0);
		}
		80% {
			bottom: 23rem;
			right: 27rem;
			transform: rotate(30deg);
			opacity: 0.6;
		}
		100% {
			bottom: 23rem;
			right: 27rem;
			transform: rotate(30deg);
			opacity: 0;
		}
	}
	@keyframes triangle58 {
		0% {
			bottom: 4rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 22rem;
			right: 26.5rem;
			transform: rotate(70deg);
			opacity: 0.6;
		}
		100% {
			bottom: 22rem;
			right: 26.5rem;
			transform: rotate(70deg);
			opacity: 0;
		}
	}
	@keyframes triangle59 {
		0% {
			bottom: 14rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 20.9rem;
			right: 25.8rem;
			transform: rotate(140deg);
			opacity: 0.6;
		}
		100% {
			bottom: 20.9rem;
			right: 25.8rem;
			transform: rotate(140deg);
			opacity: 0;
		}
	}
	@keyframes triangle60 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 19.8rem;
			right: 25.3rem;
			transform: rotate(80deg);
			opacity: 0.6;
		}
		100% {
			bottom: 19.8rem;
			right: 25.3rem;
			transform: rotate(80deg);
			opacity: 0;
		}
	}
	@keyframes triangle61 {
		0% {
			bottom: 0;
			right: 30rem;
			transform: rotate(0);
		}
		80% {
			bottom: 19.3rem;
			right: 25.5rem;
			transform: rotate(40deg);
			opacity: 0.6;
		}
		100% {
			bottom: 19.3rem;
			right: 25.5rem;
			transform: rotate(40deg);
			opacity: 0;
		}
	}
	@keyframes triangle62 {
		0% {
			bottom: 30rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 17.8rem;
			right: 25.3rem;
			transform: rotate(80deg);
			opacity: 0.6;
		}
		100% {
			bottom: 17.8rem;
			right: 25.3rem;
			transform: rotate(80deg);
			opacity: 0;
		}
	}
	@keyframes triangle63 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 18.5rem;
			right: 24.3rem;
			transform: rotate(120deg);
			opacity: 0.6;
		}
		100% {
			bottom: 18.5rem;
			right: 24.3rem;
			transform: rotate(120deg);
			opacity: 0;
		}
	}
	@keyframes triangle64 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 16.5rem;
			right: 22.6rem;
			transform: rotate(155deg);
			opacity: 0.6;
		}
		100% {
			bottom: 16.5rem;
			right: 22.6rem;
			transform: rotate(155deg);
			opacity: 0;
		}
	}
	@keyframes triangle65 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			right: 12.3rem;
			top: 4rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			right: 12.3rem;
			top: 4rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle66 {
		0% {
			top: 5rem;
			right: 10rem;
			transform: rotate(0);
		}
		80% {
			right: 11rem;
			top: 4rem;
			transform: rotate(135deg);
			opacity: 0.6;
		}
		100% {
			right: 11rem;
			top: 4rem;
			transform: rotate(135deg);
			opacity: 0;
		}
	}
	@keyframes triangle67 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 26rem;
			right: 10.6rem;
			transform: rotate(335deg);
			opacity: 0.6;
		}
		100% {
			bottom: 26rem;
			right: 10.6rem;
			transform: rotate(335deg);
			opacity: 0;
		}
	}
	@keyframes triangle68 {
		0% {
			bottom: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 28rem;
			left: 39.8rem;
			transform: rotate(35deg);
			opacity: 0.6;
		}
		100% {
			bottom: 28rem;
			left: 39.8rem;
			transform: rotate(35deg);
			opacity: 0;
		}
	}
	@keyframes triangle69 {
		0% {
			top: 0;
			left: 30rem;
			transform: rotate(0);
		}
		80% {
			top: 2.4rem;
			left: 38.7rem;
			transform: rotate(45deg);
			opacity: 0.6;
		}
		100% {
			top: 2.4rem;
			left: 38.7rem;
			transform: rotate(45deg);
			opacity: 0;
		}
	}
	@keyframes triangle70 {
		0% {
			bottom: 0;
			left: 35rem;
			transform: rotate(0);
		}
		80% {
			left: 38.5rem;
			bottom: 28.8rem;
			transform: rotate(130deg);
			opacity: 0.6;
		}
		100% {
			left: 38.5rem;
			bottom: 28.8rem;
			transform: rotate(130deg);
			opacity: 0;
		}
	}
	@keyframes triangle71 {
		0% {
			top: 0;
			right: 20rem;
			transform: rotate(0);
		}
		80% {
			top: 5.8rem;
			right: 10rem;
			transform: rotate(60deg);
			opacity: 0.6;
		}
		100% {
			top: 5.8rem;
			right: 10rem;
			transform: rotate(60deg);
			opacity: 0;
		}
	}
	@keyframes triangle72 {
		0% {
			bottom: 0;
			right: 30rem;
			transform: rotate(0);
		}
		80% {
			right: 9.9rem;
			bottom: 24.5rem;
			transform: rotate(1deg);
			opacity: 0.6;
		}
		100% {
			right: 9.9rem;
			bottom: 24.5rem;
			transform: rotate(1deg);
			opacity: 0;
		}
	}
	@keyframes triangle73 {
		0% {
			top: 38rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 2.4em;
			right: 15rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			top: 2.4em;
			right: 15rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle74 {
		0% {
			bottom: 0;
			right: 20rem;
			transform: rotate(0);
		}
		80% {
			right: 15.6rem;
			bottom: 28.5rem;
			transform: rotate(135deg);
			opacity: 0.6;
		}
		100% {
			right: 15.6rem;
			bottom: 28.5rem;
			transform: rotate(135deg);
			opacity: 0;
		}
	}
	@keyframes triangle75 {
		0% {
			top: 58rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			right: 16.4rem;
			top: 2.4rem;
			transform: rotate(110deg);
			opacity: 0.6;
		}
		100% {
			right: 16.4rem;
			top: 2.4rem;
			transform: rotate(110deg);
			opacity: 0;
		}
	}
	@keyframes triangle76 {
		0% {
			top: 28rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 34rem;
			top: 2.6rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			left: 34rem;
			top: 2.6rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle77 {
		0% {
			bottom: 39rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 28.1rem;
			left: 33.7rem;
			transform: rotate(120deg);
			opacity: 0.6;
		}
		100% {
			bottom: 28.1rem;
			left: 33.7rem;
			transform: rotate(120deg);
			opacity: 0;
		}
	}
	@keyframes triangle78 {
		0% {
			top: 0;
			right: 21rem;
			transform: rotate(0);
		}
		80% {
			top: 3.8rem;
			right: 19.5rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			top: 3.8rem;
			right: 19.5rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle79 {
		0% {
			bottom: 0;
			right: 6rem;
			transform: rotate(0);
		}
		80% {
			bottom: 26.2rem;
			right: 20.3rem;
			transform: rotate(290deg);
			opacity: 0.6;
		}
		100% {
			bottom: 26.2rem;
			right: 20.3rem;
			transform: rotate(290deg);
			opacity: 0;
		}
	}
	@keyframes triangle80 {
		0% {
			top: 20rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 30.2rem;
			top: 5.4rem;
			transform: rotate(15deg);
			opacity: 0.6;
		}
		100% {
			left: 30.2rem;
			top: 5.4rem;
			transform: rotate(15deg);
			opacity: 0;
		}
	}
	@keyframes triangle81 {
		0% {
			top: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 31rem;
			top: 7rem;
			transform: rotate(15deg);
			opacity: 0.6;
		}
		100% {
			left: 31rem;
			top: 7rem;
			transform: rotate(15deg);
			opacity: 0;
		}
	}
	@keyframes triangle82 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 24.5rem;
			right: 22rem;
			transform: rotate(55deg);
			opacity: 0.6;
		}
		100% {
			bottom: 24.5rem;
			right: 22rem;
			transform: rotate(55deg);
			opacity: 0;
		}
	}
	@keyframes triangle83 {
		0% {
			bottom: 31rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 23rem;
			right: 21.5rem;
			transform: rotate(85deg);
			opacity: 0.6;
		}
		100% {
			bottom: 23rem;
			right: 21.5rem;
			transform: rotate(85deg);
			opacity: 0;
		}
	}
	@keyframes triangle84 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 8.5rem;
			right: 21.6rem;
			transform: rotate(35deg);
			opacity: 0.6;
		}
		100% {
			top: 8.5rem;
			right: 21.6rem;
			transform: rotate(35deg);
			opacity: 0;
		}
	}
	@keyframes triangle85 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			right: 21.5rem;
			top: 9.5rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			right: 21.5rem;
			top: 9.5rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle86 {
		0% {
			top: 5rem;
			right: 10rem;
			transform: rotate(0);
		}
		80% {
			right: 21.2rem;
			top: 10.6rem;
			transform: rotate(135deg);
			opacity: 0.6;
		}
		100% {
			right: 21.2rem;
			top: 10.6rem;
			transform: rotate(135deg);
			opacity: 0;
		}
	}
	@keyframes triangle87 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 19.15rem;
			right: 20.8rem;
			transform: rotate(335deg);
			opacity: 0.6;
		}
		100% {
			bottom: 19.15rem;
			right: 20.8rem;
			transform: rotate(335deg);
			opacity: 0;
		}
	}
	@keyframes triangle88 {
		0% {
			bottom: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 18.6rem;
			left: 32rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			bottom: 18.6rem;
			left: 32rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle89 {
		0% {
			top: 0;
			left: 30rem;
			transform: rotate(0);
		}
		80% {
			top: 13.2rem;
			left: 32.5rem;
			transform: rotate(45deg);
			opacity: 0.6;
		}
		100% {
			top: 13.2rem;
			left: 32.5rem;
			transform: rotate(45deg);
			opacity: 0;
		}
	}
	@keyframes triangle90 {
		0% {
			bottom: 0;
			left: 35rem;
			transform: rotate(0);
		}
		80% {
			left: 33.5rem;
			bottom: 17rem;
			transform: rotate(130deg);
			opacity: 0.6;
		}
		100% {
			left: 33.5rem;
			bottom: 17rem;
			transform: rotate(130deg);
			opacity: 0;
		}
	}
	@keyframes triangle91 {
		0% {
			top: 0;
			right: 20rem;
			transform: rotate(0);
		}
		80% {
			top: 13.4rem;
			right: 16.7rem;
			transform: rotate(60deg);
			opacity: 0.6;
		}
		100% {
			top: 13.4rem;
			right: 16.7rem;
			transform: rotate(60deg);
			opacity: 0;
		}
	}
	@keyframes triangle92 {
		0% {
			bottom: 0;
			right: 30rem;
			transform: rotate(0);
		}
		80% {
			right: 39.9rem;
			bottom: 19.5rem;
			transform: rotate(1deg);
			opacity: 0.6;
		}
		100% {
			right: 39.9rem;
			bottom: 19.5rem;
			transform: rotate(1deg);
			opacity: 0;
		}
	}
	@keyframes triangle93 {
		0% {
			top: 38rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 15.2em;
			right: 16.9rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			top: 15.2em;
			right: 16.9rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle94 {
		0% {
			bottom: 0;
			right: 20rem;
			transform: rotate(0);
		}
		80% {
			right: 15rem;
			bottom: 16.2rem;
			transform: rotate(135deg);
			opacity: 0.6;
		}
		100% {
			right: 15rem;
			bottom: 16.2rem;
			transform: rotate(135deg);
			opacity: 0;
		}
	}
	@keyframes triangle95 {
		0% {
			top: 58rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			right: 14.3rem;
			top: 14.6rem;
			transform: rotate(110deg);
			opacity: 0.6;
		}
		100% {
			right: 14.3rem;
			top: 14.6rem;
			transform: rotate(110deg);
			opacity: 0;
		}
	}
	@keyframes triangle96 {
		0% {
			top: 28rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 38.6rem;
			top: 14.5rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			left: 38.6rem;
			top: 14.5rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle97 {
		0% {
			bottom: 39rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 17rem;
			left: 39rem;
			transform: rotate(120deg);
			opacity: 0.6;
		}
		100% {
			bottom: 17rem;
			left: 39rem;
			transform: rotate(120deg);
			opacity: 0;
		}
	}
	@keyframes triangle98 {
		0% {
			top: 0;
			right: 21rem;
			transform: rotate(0);
		}
		80% {
			top: 13.8rem;
			right: 12.5rem;
			transform: rotate(75deg);
			opacity: 0.6;
		}
		100% {
			top: 13.8rem;
			right: 12.5rem;
			transform: rotate(75deg);
			opacity: 0;
		}
	}
	@keyframes triangle99 {
		0% {
			bottom: 0;
			right: 6rem;
			transform: rotate(0);
		}
		80% {
			bottom: 17.7rem;
			right: 11.4rem;
			transform: rotate(290deg);
			opacity: 0.6;
		}
		100% {
			bottom: 17.7rem;
			right: 11.4rem;
			transform: rotate(290deg);
			opacity: 0;
		}
	}
	@keyframes triangle101 {
		0% {
			top: 20rem;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 41rem;
			top: 12rem;
			transform: rotate(15deg);
			opacity: 0.6;
		}
		100% {
			left: 41rem;
			top: 12rem;
			transform: rotate(15deg);
			opacity: 0;
		}
	}
	@keyframes triangle102 {
		0% {
			top: 0;
			left: 0;
			transform: rotate(0);
		}
		80% {
			left: 41.5rem;
			top: 11.5rem;
			transform: rotate(235deg);
			opacity: 0.6;
		}
		100% {
			left: 41.5rem;
			top: 11.5rem;
			transform: rotate(235deg);
			opacity: 0;
		}
	}
	@keyframes triangle103 {
		0% {
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 20.8rem;
			right: 9.7rem;
			transform: rotate(55deg);
			opacity: 0.6;
		}
		100% {
			bottom: 20.8rem;
			right: 9.7rem;
			transform: rotate(55deg);
			opacity: 0;
		}
	}
	@keyframes triangle104 {
		0% {
			bottom: 31rem;
			right: 0;
			transform: rotate(0);
		}
		80% {
			bottom: 22rem;
			right: 9.9rem;
			transform: rotate(85deg);
			opacity: 0.6;
		}
		100% {
			bottom: 22rem;
			right: 9.9rem;
			transform: rotate(85deg);
			opacity: 0;
		}
	}
	@keyframes triangle105 {
		0% {
			top: 0;
			right: 0;
			transform: rotate(0);
		}
		80% {
			top: 7.7rem;
			right: 9.7rem;
			transform: rotate(35deg);
			opacity: 0.6;
		}
		100% {
			top: 7.7rem;
			right: 9.7rem;
			transform: rotate(35deg);
			opacity: 0;
		}
	}
}

.section-one.off {
   	background-image: url("../images/dest/section1-off-bg.jpg");
	.sdo-active,
	.hands-after,
	.hands-before {
		opacity: 0 !important;
	}
}