.link-tel {
	font-size: 1.875em;
	font-family: "ProximaNovaExCn", sans-serif;
	display: block;
	color: #fff;
}
.link-tel.link-tel-black {
	color: #000;
}

.link-tel.background--light {
	color: #000;
}

//.link-tel.background--dark {
//	color: #000;
//}
